.event__content {
  display: flex;
  gap: 40px;
}
.event__content-card-num {
  font-weight: 600;
  font-size: 96px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #101010;
}
.event__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #101010;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #101010;
  max-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}
.event__content {
  margin-top: 72px;
}
.event__content-card {
  max-width: 276px;
  max-height: 288px;
  font-family: Arial, Helvetica, sans-serif;
}
.event__content-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101010;
  margin-top: 24px;
  max-width: 170px;
}
.event__content-card-text {
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  color: #707070;
  margin-top: 34px;
  display: inline-block;
}
