.event__info-city {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101010;
}
.event__info-date {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101010;
}
.event__info-time {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101010;
}
.event__info-button {
  border-radius: 4px;
  padding: 16px 125px;
  color: white;
  background-color: black;

  font-weight: 600;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  margin-top: 58px;
}
.event__info-img {
  margin-top: 56px;
  margin-bottom: 96px;
}
/* ------------------------ */
.event__content {
  display: flex;
  gap: 40px;
  padding-bottom: 96px;
  border-bottom: 1px solid #101010;
}
.event__content-card-num {
  font-weight: 600;
  font-size: 96px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #101010;
}
.event__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #101010;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #101010;
  max-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}
.event__content {
  margin-top: 72px;
}
.event__content-card {
  max-width: 276px;
  max-height: 288px;
  font-family: Arial, Helvetica, sans-serif;
}
.event__content-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #101010;
  margin-top: 24px;
  max-width: 170px;
}
.event__content-card-text {
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  color: #707070;
  margin-top: 34px;
  display: inline-block;
}
