.footer{
    margin: 0 -650px 0 -360px ;
    padding: 0 650px 96px 360px;
    background-color: #101010;
    font-weight: 450;
    font-size: 14px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__bottom{
    padding-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__divider{
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 32px;

}