.header {
}

.header__content-title-wr {
  max-width: 600px;
}
.header__content-title-two {
  text-align: right;
  font-weight: 600;
  font-size: 120px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: #101010;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -40px;
}
.header__content-title-one {
  font-weight: 600;
  font-size: 120px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: #101010;
  font-family: Arial, Helvetica, sans-serif;
}
.header__content-title-three {
  font-weight: 600;
  font-size: 120px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: #101010;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -40px;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -310px;
  right: -970px;

  gap: 24px;
}
.header__nav-link {
  font-weight: 450;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: right;
  text-decoration: none;
  color: #666666;
  font-family: Arial, sans-serif;
  text-align: left;
}
.header__nav-link:hover {
  color: black;
}

.header__content-text-wrapper {
  display: flex;
  gap: 100px;
  max-width: 600px;
  margin-top: 48px;
}
.header__content-text-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #707070;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
.header__content-text {
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #101010;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
