

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 649px 0 347px;
}

.num-section{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-left: 8px;
}

.num-section--white{
    color: #fff;
}

.title-section{
    font-weight: 600;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.04em;
}

.title-section--white{
    color: #fff;

}
