*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1916px;
    padding: 0 649px 0 347px;
}

.num-section{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    margin-left: 8px;
}