.price{
    margin: 0 -650px 0 -360px;
    padding: 96px 650px 120px 360px;
    background: #101010;
}

.price__text{
    display: block;
    margin: 56px 0 96px;
    font-weight: 450;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #fff;
}

.price__wrapper{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.price__value-wr{
    display: flex;
    flex-direction: column;
    width: 334px;
}

.price__offer-wr{
    display: flex;
    flex-direction: column;
    max-width: min-content;
}

.price__label{
    font-weight: 450;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 32px;
}

.price__value{
    font-weight: 600;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
}

.price__guarantee{
    font-family: var(--font-family);
    font-weight: 450;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);
}

.price__offer{
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #fff;
}



.price__button{
    width: 100%;
    border-radius: 4px;
    border: transparent;
    background: #fff;
    height: 72px;
    font-weight: 600;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #101010;
    margin-top: 72px;
}

.price__agree{
    display: block;
    max-width: 320px;
    text-align: center;
    margin: 32px auto;
    color: rgba(255, 255, 255, 0.6);
}

.price__agree-link{
    color: #fff;
}
    