.projects{
    background: #101010;
    margin: 0  -649px 0 -357px;
    padding: 96px  649px 96px 357px
}

.projects__title{
    font-weight: 600;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 78px;
}

.projects__card-label{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #fff;    
}

.projects__card-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);   
}

.projects__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 40px;
}

.projects__card{
    display: grid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}