.projects{
    background: #101010;
    margin: 0  -650px 0 -360px;
    padding: 96px  650px 96px 360px
}

.projects__title{
    margin-bottom: 78px;
}

.projects__card-label{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #fff; 
    grid-area: 1 / 1 / 2 / 2;  
    margin: 24px 0 6px; 
}

.projects__card-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7); 
    grid-area: 2 / 1 / 3 / 2;  
    max-width: 240px;
}

.projects__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 40px;
}

.projects__card{
    display: grid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.4fr 1fr;
}

.projects__logo{
    grid-area: 1 / 2 / 3 / 3; 
    margin-top: 38px;
}